.check-in {
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-content: space-between;
  width: 100vw;
  label {
    display: none;
  }
  form {
    align-self: center;
    margin: 2rem 1rem;
  }
}

.invalid {
  transition: 0.5s infinite all;
}

.invalid {
  input, select, textarea {
  &.ng-invalid {
    animation: invalid 1s infinite;
  }
}
}
